



.div1 {
    width: 300px;
    height: 200px;
    text-align: center;
     border: 2px solid black;
    float: left;
    margin-left: 500px ;
    
}



.div2 {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    float: left;
    margin:  0 50px 0 50px;
    text-align: center;
}



.div3 {
    width: 300px;
    height: 200px;
   
    float: left;
    text-align: center;
    border: 2px solid black;
}



       /*////////////////   Start style div 1 all tags  ///////////////////////////// */

.titele1 {
    text-align: center;
}


.titele1:hover {
   color: rgb(21, 224, 55);
}
.div1:hover {
    background-color: antiquewhite;
}

.btn1:hover {
  background-color: blue;
  width:120px ;
  height:45px;
  border: 0;
  border-radius: 5px;  
}

.a1 {
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-top: 30px;
}

.a1:hover {
color: red;

}

/*////////////////   End style div 1 all tags  ///////////////////////////// */
                     


   /*////////////////     Start   style div 2 all tags  ///////////////////////////// */


   
.titele2 {
    text-align: center;
}


.titele2:hover {
   color: rgb(255, 255, 255);
}
.div2:hover {
    background-color: rgb(224, 155, 65);
}

.btn2:hover {
  background-color: rgb(44, 194, 221);
  width:120px ;
  height:45px;
  border: 0;
  border-radius: 5px;  
}

.a2 {
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-top: 30px;
}

.a2:hover {
color: rgb(245, 241, 241);

}


/*////////////////   End style div 2 all tags  ///////////////////////////// */




   /*////////////////     Start   style div 3 all tags  ///////////////////////////// */


   
   .titele3 {
    text-align: center;
}


.titele3:hover {
   color: rgb(255, 255, 255);
}
.div3:hover {
    background-color: rgb(121, 96, 64);
}

.btn3:hover {
  background-color: rgb(218, 27, 176);
  width:120px ;
  height:45px;
  border: 0;
  border-radius: 5px;  
}

.a3 {
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-top: 30px;
}

.a3:hover {
color: rgb(181, 240, 44);

}


/*////////////////   End style div 3 all tags  ///////////////////////////// */